{% extends 'base.html' %}
{% from 'tantalus_paginator.html' import paginator_buttons with context %}
{% from 'tantalus_general_helpers.html' import format_currency %}

{% block container %}
  <div>
    {% if showgroup -%}
      <h1>All Products</h1>
    {%- else -%}
      <a href="{{ url_for('.index') }}">Back to all</a>
      <h1>Products in group {{ group }}</h1>
    {%- endif %}
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Tag</th>
        <th>Name</th>
        {% if showgroup %}
          <th>Group</th>{% endif %}
        <th>Unit Value</th>
        <th>Amount</th>
        <th>Total Value</th>
      </tr>
      </thead>

      <tbody>
      {% for product in pagination.items %}
        <tr>
          <td>{{ product.tag or "" }}</td>
          <td><a href="{{ url_for('.editproduct', product_id=product.key.id()) }}">{{ product.contenttype }}</a></td>
          {% if showgroup -%}
            <td><a href="{{ url_for('.showgroup', group=product.group.id()) }}">{{ product.group.get().name }}</a></td>
          {%- endif %}
          {% if product.amount == 0 -%}
            <td align="right">0.00</td>
          {%- else -%}
            <td align="right">{{ format_currency(product.value) }}</td>
          {%- endif %}
          <td align="right">{{ product.amount }}</td>
          <td align="right">{{ format_currency(product.value * product.amount) }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5" style="text-align: center"><h2>&empty;</h2></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <a href="{{ url_for('.addproduct') }}" class="btn btn-default">Add product</a>
  {{ paginator_buttons(pagination) }}
{% endblock %}

