{% extends 'base.html' %}
{% from 'tantalus_general_helpers.html' import format_currency %}

{% block container %}
  <form id="newproductform" class="form-horizontal">
    <div class="col-lg-6">
      <div class="well bs-component">
        <fieldset>
          {% if product %}
            <legend>Edit Product</legend>
          {% else %}
            <legend>New Product</legend>
          {% endif %}
          <div class="form-group">
            <label for="name" class="col-lg-3 control-label">Content Type</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="name" placeholder="Name" {% if product %}
                     value="{{ product.contenttype }}"{% endif %}>
            </div>
          </div>
          <div class="form-group">
            <label for="tag" class="col-lg-3 control-label">Shorttag</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="tag" placeholder="Tag" {% if product %}
                     value="{{ product.tag }}"{% endif %}>
            </div>
          </div>
          <div class="form-group">
            <label for="group" class="col-lg-3 control-label">Group</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="group" placeholder="Group" {% if product %}
                     value="{{ product.group.get().name }}"{% endif %}>
            </div>
          </div>
          <div class="form-group">
            <label for="amount" class="col-lg-3 control-label">Initial Stock</label>
            <div class="col-lg-9">
              <input id="amount" type="text" class="form-control" placeholder="Amount" {% if product %}
                     value="{{ product.amount }}"{% endif %}>
            </div>
          </div>
          <div class="form-group">
            <label for="amount" class="col-lg-3 control-label">BTW%</label>
            <div class="col-lg-9">
              <input id="btw" type="text" class="form-control" placeholder="BTW%" {% if product and product.btwtype%}
                     value="{{ product.btwtype.get().percentage }}"{% endif %}>
            </div>
          </div>
          <div class="form-group">
            <label for="value" class="col-lg-3 control-label">Value</label>
            <div class="col-lg-9">
              <div id="valwrap" class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span>
                <input id="value" type="text" class="form-control" placeholder="Value" {% if product %}
                       value="{{ product.value }}"{% endif %}>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="well bs-component">
        <fieldset>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="button" onclick="submit_product();" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </div>
      <div>
        <a class="btn btn-default" href="{{ url_for('.index') }}">Back to all</a>
      </div>
    </div>
  </form>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
      var tosubmit = {};

      function submit_product() {
          if (field_validate_int_or_none('#amount') &&
              field_validate_money_or_none('#value') &&
              $('#name').val().length > 3) {

              tosubmit.name = $('#name').val();
              tosubmit.tag = $('#tag').val();
              tosubmit.group = $('#group').val();
              tosubmit.btw = parseInt($('#btw').val());

              if ($('#amount').val() != "")
                  tosubmit.amount = parseInt($('#amount').val());

              if ($('#value').val() != "")
                  tosubmit.value = parseInt($('#value').val());
              {% if not product %}
                  post_object(tosubmit, "{{ url_for(".addproduct") }}", "{{ url_for(".index") }}");
              {% else %}
                  post_object(tosubmit, "{{ url_for(".editproduct", product_id=product.key.urlsafe()) }}", "{{ url_for(".index") }}");
              {% endif %}
          }
          return true;
      }

  </script>
{% endblock %}
