{% from 'tantalus_general_helpers.html' import format_currency %}

{% macro render_mod_as_equation(mod) -%}
  {% set left, right = ('', '') -%}
  {%- if mod.rounding != 'none' -%}
    {% set left = mod.rounding + '(' %}
    {% set right = ')' %}
  {%- endif -%}
  {%- if mod.pre_add != 0 -%}
    {% set left = left + '(€ + ' + format_currency(mod.pre_add) + ')' %}
  {% else %}
    {% set left = left + '€' %}
  {%- endif -%}
  {%- if mod.divides %}
    {% set left = left + ' / ' %}
  {% else %}
    {% set left = left + ' × ' %}
  {% endif %}
  {%- if mod.multiplier != 1.0 -%}
    {% set left = left + "{:.2f}".format(mod.multiplier) %}
  {%- endif -%}
  {%- if mod.post_add != 0 -%}
    {% set left = left + ' + ' + format_currency(mod.post_add) %}
  {%- endif -%}
  <b>{{ left }}{{ right }}</b>
{%- endmacro %}

{% macro render_mod_as_tag(mod) -%}
  {% if mod.modifies -%}
    <button class="btn btn-primary btn-xs" data-html="true" data-container="body" data-toggle="tooltip"
            data-id="{{ mod.key.id() }}" data-placement="top" data-title="{{ render_mod_as_equation(mod) }}"
            type="button">{{ mod.tag }}</button>
  {%- else -%}
    <button class="btn btn-default btn-xs" data-html="true" data-container="body" data-toggle="tooltip"
            data-id="{{ mod.key.id() }}" data-placement="top" data-title="{{ render_mod_as_equation(mod) }}"
            type="button">{{ mod.tag }}</button>
  {% endif %}
{%- endmacro %}
