{% extends 'base.html' %}

{% block container %}
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Inventory management program</h1>
    </div>
  </div>
  <div class="col-md-4">
    <form class="form-signin" action="

            {{ url_for('tantalus.login') }}{% if 'next' in request.args %}?next={{ request.args.get('next') }}{% endif %}"
          method="POST">
      <h2 class="form-signin-heading">Login</h2>
      <input id="_csrf_token" name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
      <input id="username" name="username" type="text" class="form-control" placeholder="Username"/>
      <input id="password" name="password" type="password" class="form-control" placeholder="Password"/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
{% endblock %}
