{% extends 'base.html' %}

{% block container %}
<div class="col-12 col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend>POS-{% if product.is_service %}Service{% else %}Product{% endif %} {{ product.name }}</legend>
        <div class="form-group">
          <label for="name" class="col-lg-3 control-label">Name</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="name" placeholder="Name" value="{{ product.name }}">
          </div>
        </div>
        {% if product.is_service %}
        <div class="form-group">
          <label for="service" class="col-lg-3 control-label">Service</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="service" name="service" placeholder="Service" value="{{ product.service }}">
          </div>
        </div>
        <div class="form-group">
          <label for="price" class="col-lg-3 control-label">Price</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="price" name="price" placeholder="Price" value="{{ product.service_price | format_currency }}">
          </div>
        </div>
        <div class="form-group">
          <label for="btw" class="col-lg-3 control-label">BTW</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="btw" name="btw" placeholder="BTW%" value="{{ product.service_btw.percentage }}">
          </div>
        </div>
        {% else %}
        <div class="form-group">
          <label for="product" class="col-lg-3 control-label">Product</label>
          <div class="col-lg-9">
            <select class="form-control" id="product">
              <option></option>
              {% for p in products %}
              <option value="{{ p.id }}" {% if p == product.product %}selected{% endif %}>{{ p.contenttype }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
        <div class="form-group">
          <label for="scan_id" class="col-lg-3 control-label">Scan ID</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="scan_id" name="scan_id" placeholder="Scan ID"
              value="{{ product.scan_id }}">
          </div>
        </div>
        <div class="form-group">
          <label for="keycode" class="col-lg-3 control-label">Keycode</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="keycode" name="keycode" placeholder="Keycode" value="{{ product.keycode }}">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="col-12 col-lg-6">
  <div class="well bs-component">
    {% if product.is_service %}
    <p>
      Changing the price or btw will not change existing sales. If you want changes here to be applied retroactively
      consult your friendly local Tantalus-maintainance-nerd.<br>
      Discontinuing a service will not remove existing sales. It will prevent any more sales to be registered and will
      be fully deleted on bookyear transition.
    </p>
    <button type="button" onclick="discontinue_pos_product();" class="btn btn-block btn-danger">Discontinue</button>
    <button type="button" onclick="submit_pos_service();" class="btn btn-block btn-primary">Update</button>
    {% else %}
    <p>
      Changing the product this POS-Product is tied to is an action that is not recommended. All sales not yet processed
      into a transaction will be applied to the new product. In most cases you want to make a new POS-Product and discontinue
      the old one instead.<br>
      Discontinuing a product will not remove existing sales, they will still show up in the next transaction generation. 
      However, it will prevent any more sales to be registered and will be fully deleted on bookyear transition.
    </p>
    <button type="button" onclick="discontinue_pos_product();" class="btn btn-block btn-danger">Discontinue</button>
    <button type="button" onclick="submit_pos_product();" class="btn btn-block btn-primary">Update</button>
    {% endif %}

    <a class="btn btn-block btn-default" href="{{ url_for('.index') }}">Back</a>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  function submit_pos_product() {
    tosubmit = {};
    tosubmit.name = $('#name').val();
    tosubmit.product = $('#product').val();
    tosubmit.scan_id = $('#scan_id').val();
    tosubmit.keycode = $('#keycode').val();

    post_object(tosubmit, "{{ url_for('.edit_product', pos_product_id=product.id) }}", "{{ url_for('.index') }}");

    return true;
  }

  function submit_pos_service() {
    tosubmit = {};
    tosubmit.name = $('#name').val();
    tosubmit.service = $('#service').val();
    tosubmit.price = parseMoney($('#price').val());
    tosubmit.btw = parseInt($('#btw').val());
    tosubmit.scan_id = $('#scan_id').val();
    tosubmit.keycode = $('#keycode').val();

    post_object(tosubmit, "{{ url_for('.edit_service', pos_product_id=product.id) }}", "{{ url_for('.index') }}");

    return true;
  }

  function discontinue_pos_product() {
    post_object({}, "{{ url_for('.discontinue', pos_product_id=product.id) }}", "{{ url_for('.index') }}");
    return true;
  }
</script>
{% endblock %}