{% extends 'base.html' %}
{% from 'tantalus_paginator.html' import paginator_buttons with context %}

{% block container %}
  <div>
    <h1>{{ name }}</h1>
  </div>

  Event date: {{ deliverydate }}<br>
  Processed date: {{ processeddate }}<br>
  Formal Reference: {{ reference }}<br>
  Last edit: {{ lastedit }}<br>
  Description: {{ description }}<br>
  Revision: {{ revision }}<br><br>
  
  Buy included btw: {{ two_to_one_has_btw }}<br>
  Buy btw rounded per row: {{ two_to_one_btw_per_row }}<br>  

  <h2>Sold</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Product</th>
        <th style="text-align: right;">Amount</th>
        <th style="text-align: right;">Unit price</th>
        <th style="text-align: right;">Total</th>
        <th style="text-align: right;">BTW%</th>
      </tr>
      </thead>

      <tbody>
      {% for row in sell %}
        <tr>
          <td>{{ row.contenttype }}</td>
          <td style="text-align: right;">{{ row.amount }}</td>
          <td style="text-align: right;">{{ (row.value / row.amount) | format_currency }}</td>
          <td style="text-align: right;">{{ row.value | format_currency }}</td>
          <td style="text-align: right;">{{ row.btw }}%</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  
  <h2>Bought</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Product</th>
        <th style="text-align: right;">Amount</th>
        <th style="text-align: right;">Total</th>
        <th style="text-align: right;">BTW%</th>
        <th style="text-align: right;">Inventory Value</th>
      </tr>
      </thead>

      <tbody>
      {% for row in buy %}
        <tr>
          <td>{{ row.contenttype }}</td>
          <td style="text-align: right;">{{ row.amount }}</td>
          <td style="text-align: right;">{{ row.prevalue | format_currency }}</td>
          <td style="text-align: right;">{{ row.btw }}%</td>
          <td style="text-align: right;">{{ row.value | format_currency }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-12 col-lg-7" style="margin-left:0">
    <h2>Services</h2>
    <div class="table-responsive">
      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th style="text-align: right;">Amount</th>
          <th style="text-align: right;">Price</th>
          <th style="text-align: right;">BTW%</th>
        </tr>
        </thead>

        <tbody>
        {% for row in service %}
          <tr>
            <td>{{ row.contenttype }}</td>
            <td style="text-align: right;">{% if row.amount and row.amount != 0 %}{{ row.amount }}{% endif %}</td>
            <td style="text-align: right;">{{ row.prevalue | format_currency }}</td>
            <td style="text-align: right;">{{ row.btw }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-0 col-lg-1"></div>
  <div class="col-12 col-lg-4" style="margin-right:0">
  <h2>BTW</h2>
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>BTW%</th>
            <th style="text-align: right;">BTW&euro;</th>
          </tr>
          </thead>

          <tbody>
          {% for percentage,value in btwtotals.items() %}
            <tr>
              <td>{{ percentage }}%</td>
              <td style="text-align: right;">{{ value|format_currency }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  
  <strong>Totaal: </strong> {{ total | format_currency }}<br>
  <a class="btn btn-primary" href="{{ url_for(".edittransaction", transaction_id=id) }}">Edit</a>
  <a class="btn btn-primary" href="{{ url_for(".resend", transaction_id=id) }}">Resend</a>
  <a class="btn btn-primary" href="{{ url_for(".showinvoice", transaction_id=id) }}">View Invoice</a>
  <a class="btn btn-primary" href="{{ url_for(".showinvoicepdf", transaction_id=id) }}">Download Invoice PDF</a>
{% endblock %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    @-moz-document url-prefix() {
      fieldset {
        display: table-cell;
      }
    }
  </style>
{% endblock %}

