{% macro paginator_buttons(paginator) %}
  <ul class="pagination pull-right">
    {% if paginator.has_prev %}
      <li><a href="{{ url_for(request.url_rule.endpoint, page=paginator.page - 1, **paginator.extra) }}">&laquo;</a>
      </li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in range(paginator.page) %}
      <li><a href="{{ url_for(request.url_rule.endpoint, page=i, **paginator.extra) }}">{{ i }}</a></li>
    {% endfor %}
    <li class="active"><span>{{ paginator.page }}</span></li>
    {% for i in range(paginator.page + 1, paginator.page_max + 1) %}
      <li><a href="{{ url_for(request.url_rule.endpoint, page=i, **paginator.extra) }}">{{ i }}</a></li>
    {% endfor %}
    {% if paginator.has_next %}
      <li><a href="{{ url_for(request.url_rule.endpoint, page=paginator.page + 1, **paginator.extra) }}">&raquo;</a>
      </li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endmacro %}

