{% extends 'base.html' %}
{% from 'tantalus_paginator.html' import paginator_buttons with context %}

{% block container %}
  <div>
    {% if not relation -%}
      <h1>All Transactions</h1>
    {%- else -%}
      <a href="{{ url_for('.index') }}">Back to all</a>
      <h1>Transactions from relation {{ relation.name }}</h1>
    {%- endif %}
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Event Date</th>
        <th>Processingdate</th>
        <th>Description</th>
        <th>Total</th>
      </tr>
      </thead>

      <tbody>
      {% for transaction in pagination.items %}
        <tr>
          <td>
            <a href="{{ url_for('.showrelation', relation_id=transaction.relation.id) }}">{{ transaction.relation.name }}</a>
            <a href="{{ url_for('.showtransaction', transaction_id=transaction.id) }}">{{ (transaction.informal_reference | string).zfill(3) }}</a>
          </td>
          <td>{{ (transaction.deliverydate | format_date) }}</td>
          <td>{{ transaction.processeddate | format_date }}</td>
          <td>{{ transaction.description }}</td>
          <td align="right">{{ transaction.total | format_currency }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5" style="text-align: center"><h2>&empty;</h2></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <a href="{{ url_for('.addtransaction') }}" class="btn btn-default">Add transaction</a>
  {{ paginator_buttons(pagination) }}
{% endblock %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    @-moz-document url-prefix() {
      fieldset {
        display: table-cell;
      }
    }
  </style>
{% endblock %}
