{% extends 'base.html' %}
{% from 'tantalus_paginator.html' import paginator_buttons with context %}

{% block container %}
<div>
  <h1>POS-Endpoint {{ endpoint.name }}</h1>
</div>

<div class="col-12 col-lg-12">
  <div class="well bs-component">
    <fieldset>
      <div class="col-lg-12 table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Time</th>
              <th>User</th>
              <th>Product</th>
              <th class="align-r">Unit price</th>
              <th class="align-r">Amount</th>
              <th class="align-r">Price</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in sales_paginator.items %}
            <tr>
              <td>{{ sale.time_created | format_datetime }}</td>
              <td>{{ sale.user.username }}</td>
              <td>{{ sale.posproduct.name }}</td>
              <td class="align-r">&euro;{{ sale.unit_price | format_currency }}</td>
              <td class="align-r">{{ sale.amount }}</td>
              <td class="align-r">&euro;{{ (sale.unit_price * sale.amount) | format_currency }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </fieldset>
    {{ paginator_buttons(sales_paginator) }}
  </div>
</div>
{% endblock %}