{% extends 'base.html' %}

{% block container %}
<div class="col-12 col-lg-6">
  <div class="well bs-component">
    <form id="newproductform" class="form-horizontal">
      <fieldset>
        {% if product %}
        <legend>Edit Product</legend>
        {% else %}
        <legend>New Product</legend>
        {% endif %}
        <div class="form-group">
          <label for="name" class="col-lg-3 control-label">Content Type</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="name" placeholder="Name" {% if product %}
              value="{{ product.contenttype }}" {% endif %}>
          </div>
        </div>
        <div class="form-group">
          <label for="tag" class="col-lg-3 control-label">Shorttag</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="tag" placeholder="Tag" {% if product %}
              value="{{ product.tag }}" {% endif %}>
          </div>
        </div>
        <div class="form-group">
          <label for="group" class="col-lg-3 control-label">Group</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="group" placeholder="Group" {% if product %}
              value="{{ product.group.name }}" {% endif %}>
          </div>
        </div>
        <div class="form-group">
          <label for="amount" class="col-lg-3 control-label">Stock</label>
          <div class="col-lg-9">
            <input id="amount" type="text" class="form-control" placeholder="Amount" {% if product %}
              value="{{ product.amount }}" {% endif %}>
          </div>
        </div>
        <div class="form-group">
          <label for="amount" class="col-lg-3 control-label">BTW%</label>
          <div class="col-lg-9">
            <input id="btw" type="text" class="form-control" placeholder="BTW%" {% if product and product.btwtype%}
              value="{{ product.btwtype.percentage }}" {% endif %}>
          </div>
        </div>
        <div class="form-group">
          <label for="value" class="col-lg-3 control-label">Value</label>
          <div class="col-lg-9">
            <div id="valwrap" class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span>
              <input id="value" type="text" class="form-control" placeholder="Value" {% if product %}
                value="{{ product.value | format_currency }}" {% endif %}>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="col-12 col-lg-6">
  <div class="well bs-component">
    {% if product %}
    <p>
      Editing value or btw percentage will not change any existing transactions, just future ones. If the product is used
      in POS it will not apply to past sales either.<br>
      When you discontinue a product it has to have a stock of 0. The product will be hidden and won't be usable in future 
      transactions. When the bookyear is advanced it will be deleted fully.
    </p>  
    <button type="button" onclick="discontinue_product();" class="btn btn-block btn-danger">Discontinue</button>

    {% endif %}
    <button type="button" onclick="submit_product();" class="btn btn-block btn-primary">Update</button>

    <a class="btn btn-block btn-default" href="{{ url_for('.index') }}">Back</a>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  var tosubmit = {};

  function submit_product() {
    if (field_validate_int_or_none('#amount') &&
      field_validate_money_or_none('#value') &&
      $('#name').val().length > 3) {

      tosubmit.name = $('#name').val();
      tosubmit.tag = $('#tag').val();
      tosubmit.group = $('#group').val();
      tosubmit.btw = parseInt($('#btw').val());

      if ($('#amount').val() != "")
        tosubmit.amount = parseInt($('#amount').val());

      if ($('#value').val() != "")
        tosubmit.value = parseMoney($('#value').val());

      {% if not product %}
      post_object(tosubmit, "{{ url_for('.addproduct') }}", "{{ url_for('.index') }}");
      {% else %}
      post_object(tosubmit, "{{ url_for('.editproduct', product_id=product.id) }}", "{{ url_for('.index') }}");
      {% endif %}
    }
    return true;
  }

{% if product %}
  function discontinue_product() {
    post_object(tosubmit, "{{ url_for('.discontinue', product_id=product.id) }}", "{{ url_for('.index') }}");
    return true;
  }
{% endif %}
</script>
{% endblock %}